# Include all Python source files
recursive-include facility_api *.py

# Ensure README and requirements are included
include README.md
include requirements.txt

# Exclude compiled Python files
global-exclude __pycache__ *.pyc *.pyo *.pyd *.env
